@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=MuseoModerno:wght@200;400;500&family=Poppins:wght@100;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    overflow-x: hidden;
    font-family: 'Poppins', "sans-serif";
    user-zoom: none;
    user-select: none;
}

.form {
  background: linear-gradient(to top right, rgb(226 232 240), rgb(226 232 240), rgb(226 232 240), rgb(226 232 240),rgb(15 23 42) ) ;
}